; Default per-iface settings (copied on first use / Reset)
DESCRIPTION=""
ENABLE="yes"
BONDING="no"
BONDING_MODE="balance-rr"
BOND_NAME="bond-tb0"
BRIDGING="no"
BR_NAME="br-tb"
PROTOCOL="ipv4"
USE_DHCP="no"
IPADDR="10.255.1.2"
NETMASK="24"
GATEWAY=""
DEFAULT_ROUTE="no"
MTU=""
USE_MTU="no"
INCLUDE_LISTENING="no"
