; Default per-iface settings (copied on first use / Reset)
DESCRIPTION=""
ENABLE="yes"
BONDING="no"
BONDING_MODE="active-backup"
BOND_NAME="bond-tb0"
BOND_MEMBERS=""
BRIDGING="no"
BR_NAME="br-tb0"
VLAN_ENABLE="no"
VLAN_LIST=""
PROTOCOL="ipv4"
USE_DHCP="no"
IPADDR="10.255.1.2"
NETMASK="24"
GATEWAY=""
DEFAULT_ROUTE="no"
USE_DHCP6="no"
IPADDR6=""
NETMASK6="64"
GATEWAY6=""
DEFAULT_ROUTE6="no"
MTU_MODE="9000"
MTU="9000"
USE_MTU="yes"
INCLUDE_LISTENING="no"
